<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="piranha" type="Piranha.ConfigFile, Piranha" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="LanguageCodes" value="en | fr | es" />
    <add key="UploadRoot" value="C:\ARCProjects\vs2017\Melania-Cathfish\Catfish\Catfish\App_Data\Uploads" />
    <add key="PageSize" value="25" />
    <!-- max item per page to display - for pagination -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Enabled" value="false" />
    <!--<add key="PreserveLoginUrl" value="true" />-->
    <!--<add key="AllowLocalLogin" value="true" />-->
    <add key="AllowGoogleLogin" value="true" />
    <!-- login key if user choose to login using google account -->
    <add key="InitialGroupName" value="ReadOnly" />
    <!-- Default group name when user is signed in with external account - ie: google -->
    <!-- General Group -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleClientId" value="710335682430-sdroba1ab251q7nqeedggd6cj59ae3fn.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="hptjLtyD9ml_enD_CyY92FeZ" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="TestDataFolder" value="C:\ARCProjects\vs2017\Melania-Cathfish\Catfish\XmlTemplates" />
    <!-- Setting for ingesting form data for culinary moves on localhost  -->
    <add key="GoogleCredentialFilePath" value="C:\ARCProjects\vs2017\Melania-Cathfish\Catfish\Catfish\" />
    <add key="GoogleCredentialFile" value="catfish-service.json" />
    <!-- localhost   Development -->
    <add key="SolrServer" value="http://localhost:8983/solr/localTest" />
    <!-- solr server for testing   
    <add key="SolrServer" value="http://localhost:8983/solr/demo" />  

-->
    <!-- statefunding  or Lexigraphica
   <add key="SolrServer" value="http://localhost:8983/solr/statefunding_Prod"/>
   
    <add key="SolrServer" value="http://localhost:8983/solr/lexigraphica"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms name="PiranhaCMS" timeout="30" />
    </authentication>
    <sessionState timeout="30" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SitemapHandler" path="/sitemap.xml" verb="GET" type="Piranha.Web.Handlers.SitemapHandler" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <urlCompression doStaticCompression="true" />
    <!--<rewrite>
      <rules>
        <rule name="RedirectToPrefixless" stopProcessing="true">
          <match url="^manager/(.*)" />
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <piranha>
    <settings>
      <managerNamespaces value="Catfish.Areas.Manager.Controllers" />
      <disableManager value="false" />
      <disableTypeBuilder value="false" />
      <passiveMode value="false" />
      <prefixlessPermalinks value="false" />
      <disableCatalogSearch value="false" />
      <disableComposition value="false" />
      <renderX-UA-CompatibleForIE value="true" />
      <showDBErrors value="false" />
      <exactPermalinkMatching value="false" />
    </settings>
    <providers>
      <mediaProvider value="Piranha.IO.LocalMediaProvider, Piranha" />
      <mediaCacheProvider value="Piranha.IO.LocalMediaCacheProvider, Piranha" />
      <cacheProvider value="Piranha.Cache.WebCacheProvider, Piranha" />
      <logProvider value="Piranha.Log.LocalLogProvider, Piranha" />
    </providers>
  </piranha>
  <connectionStrings>
    <add name="piranha" connectionString="data source=.\sqlexpress2008R2;initial catalog=CatfishTest;user id=gwrit1;password=gwrit#db;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
    <!-- DEV   
    <add name="piranha" connectionString="data source=.\sqlexpress2008R2;initial catalog=ApeCatfish;user id=gwrit1;password=gwrit#db;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
    <add name="piranha" connectionString="data source=.\sqlexpress2008R2;initial catalog=Lexigraphica;user id=gwrit1;password=gwrit#db;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
     <add name="piranha" connectionString="data source=.\sqlexpress2008R2;initial catalog=Statefunding;user id=gwrit1;password=gwrit#db;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" /> -->
    <!-- TEST : the foolowing db is use only for testing 
    <add name="piranha" connectionString="data source=.\sqlexpress2008R2;initial catalog=TestingDb;user id=gwrit1;password=gwrit#db;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
-->
  </connectionStrings>
</configuration>
<!--ProjectGuid: 3EE219A0-08C9-4DCE-9CB8-7BF16007F6F6-->