/*@import url("componentStyles.css");*/
/*
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, h6, button, .palanquin-font {
    font-family: 'Palanquin', sans-serif;
}

.subtitle-section {
    font-family: 'Palanquin', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 700;
}

.icon-block-text, .navbar, .section-contents, .section-contents-work {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
}

.navbar {
    font-weight: 600;
}

.nav-site li a {
    font-size: 1.1rem;
    text-transform: none;
}

.nav-site li.active a {
    font-weight: 600;
}

.footer-font-weight {
    font-weight: 600;
}

button {
    font-weight: 500 !important;
}

.EGTitle {
    font-weight: 700;
    font-family: 'Palanquin', sans-serif;
    width: unset;
}

.highlights-text .EGTitle {
    font-weight: 300;
}

h4.desc-in-carousel {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.small-item-block-container h4 {
    font-weight: 700;
}

.darkBlueBG strong {
    font-weight: 500;
}

/*
#1846A0 -- dark blue
#9DEBF4 -- lighter blue
#40C6DD -- med blue /green
#FABC3C - yellow
#F05D52 -- arc red

Grey radial effect
    background: rgb(245,241,243);
    background: radial-gradient(circle, rgba(245,241,243,1) 54%, rgba(230,233,237,0.3) 100%);
*/
:root {
    --yellow-color: #FABC3C;
    --darkBlue-color: #1846A0;
    --medBlue-color: #40C6DD;
    --lightBlue-color: #9DEBF4;
}

body {
    background-color: #dedede;
    // font-family: "seravek Basic";
}

.main {
    margin: 0;
}

#blocks .vue-carousel, #blocks .highlights-text-container, .grey-bg {
    background: rgb(245,241,243);
}

.yellowBG {
    background-color: var(--yellow-color); /*#FABC3C;*/
    color: Black;
}

.lightBlueBG {
    background-color: var(--lightBlue-color); /*#9DEBF4;*/
}

.darkBlueBG {
    background-color: var(--darkBlue-color); /*#1846A0;*/
    color: #fff;
}

.mediumBlueBG {
    background-color: var(--medBlue-color); /*#40C6DD;*/
}

.mediumBlueBorder {
    border: 1px solid #40C6DD;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yellowSeparator {
    border: 3px solid var(--yellow-color);
    height: 3px;
    /*margin-top:10px;
	margin-bottom:10px;*/
}

.greyBG {
    background: rgb(245,241,243);
    background: radial-gradient(circle, rgba(245,241,243,1) 54%, rgba(230,233,237,0.3) 100%);
    /*margin:50px;
	padding:50px;*/
}

.pattern1BG {
    background-image: url(/uploads/dfd04d43-75af-4a74-a3c0-b17f92c23e9b-NImg_Gradient-20-20.svg);
    height: 400px;
    padding-top: 130px;
    background-repeat: no-repeat;
    background-position: center 39%;
    background-size: cover;
}

.long-button {
    width: 70%;
    min-width: 300px;
}

.small-item-block-container {
    height: 150px;
    padding-bottom: 30px;
    font-size: 1.1rem;
}

.medium-button {
    /*width: 50%;
    min-width: 180px;*/
    width: 70%;
}

.img-text-container {
    margin-left: auto;
    margin-right: auto;
}

    .img-text-container > h1 {
        font-size: 4em;
        font-weight: Bold;
    }

    .img-text-container > h2 {
        font-size: 2.3em;
        /*margin-left: 150px;*/
    }

.darkBlueBG > H1, H2, h3 {
    margin: 0;
}

/*Highlights section */
.darkBlueBG > h2 {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.darkBlueBG > p {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.page-body h1 {
    margin: 0 !important;
}

.textAlignMiddle {
    text-align: center;
    align-items: center;
}

.highlights-text {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
}

.highlights-text.view-more-button{
    width: 100%;
}

.view-more-button button {
    font-size: 1.2rem;
}

.widthFitContent {
    width: fit-content;
}

/*#arcLogo {
    width: 90px;
    padding-right: 15px;
}*/

#site-logo {
    /*site logo
    background-image: url("../../uploads/f27e4c34-78c8-4f71-936c-89c0f396f1c9-UA-COLOUR.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-size:300px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: auto;*/
}

.dropdown-menu {
    background-color: var(--medBlue-color);
}

.page-body > h1 {
    display: none;
}

/* catpusel */
.extended-gallery-block {
    margin-top: -48px;
}

.extended-gallery-block, .indicatorDiv {
    background-color: #9DEBF4;
    margin-left: -15px;
    margin-right: -15px;
}

.extended-gallery-block, .s-work-page {
    padding: 20px;
}

    .extended-gallery-block > .carousel-inner > .carousel-item, .carousel-indicators > li {
        background-color: #fff;
    }

        .extended-gallery-block > .carousel-inner > .active, .carousel-indicators > li.active {
            background-color: #9DEBF4;
        }

.btn-lightBlue {
    background-color: var(--lightBlue-color);
    color: #fff;
    border-radius: 10px;
}

.btn-medBlue {
    background-color: var(--medBlue-color);
    color: #fff;
    border-radius: 10px;
}

.borderImg {
    border: 1px solid lightGrey;
}

.width63 {
    width: 63%;
}

.negativeMarginRight {
    margin-right: -15px;
}

.negativeMarginLeft {
    margin-left: -15px;
}

.negativeMarginTop {
    margin-top: 0px; /*-60px;*/
}

.description {
    padding-bottom: 30px;
}

/* Image gallery carousel */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.desc-in-carousel {
    font-size: 1.25rem;
    margin-top: .5rem;
}

.thumb-list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

.sideMenu .nav-item {
    border: 1px solid var(--medBlue-color);
    margin-bottom: 10px;
    padding: 10px;
}

    .sideMenu .nav-item:hover {
        background-color: var(--medBlue-color);
        color: White;
        width: 100%;
    }

    .sideMenu .nav-item a {
        color: var(--medBlue-color);
    }

        .sideMenu .nav-item a > span {
            padding-right: 5px;
        }

        .sideMenu .nav-item a:hover {
            border: 1px solid var(--medBlue-color);
            background-color: var(--medBlue-color);
            color: White;
        }

.padding10 {
    padding: 10px;
}

.paddingTopBottom15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.marginRight10 {
    margin-right: 10px;
}

.add-full-flexbox {
    display: flex;
    width: 100%;
}

.keywords-search-block {
    flex: 1;
}

.search-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.search-header-holder {
    border-bottom: solid var(--darkBlue-color) 3px;
    width: 100%;
    display: block;
    padding-top: 0px !important;
}

.block-title {
    border-bottom: solid 3px var(--yellow-color);
    padding-bottom: 0px !important;
}

.box-shadow {
    box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}

.no-box-shadow {
    box-shadow: none;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Useful so that items width stretches 100% */
.flex-column-no-align {
    display: flex;
    flex-direction: column;
}

.image-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid #dedede;
    border-radius: 50%;
    overflow: hidden;
    padding: 30px;
}

.image-circle {
    width:300px;
    height:auto;
    max-width: unset !important;
}

.team-text-container {
    padding-top: 10px;
}

.blueHr {
    border-top: 1px solid var(--darkBlue-color);
    width: 90%;
}

.teamMember {
    border-radius: 50%;
}

    .teamMember > img {
        border-radius: inherit;
        width: 250px;
        height: 250px;
    }

.search-result-container {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding: 1em;
    height: 100%;
    background-color: #dedede;
}

.teamMemberDescription h3 {
    color: #000;
}

.extended-gallery-block { /*.carousel-inner, .carousel-item, .carousel-item > .row*/
    background-color: var(--lightBlue-color);
}

/******** Specific work page stuff ***********/

.our-features-container {
    border: solid #dedede 1px;
    text-align: center;
    height: unset;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

    .our-features-container > * {
        width: 100%;
        padding: 10px;
    }

    .our-features-container > h2 {
        background-color: var(--darkBlue-color);
        color: white;
    }

h4 > a:hover {
    text-decoration: none;
}

.our-features-container > h4 {
    margin-bottom: 0;
}
/*
.work-header-container {
    padding-top: 30px;
}*/

.work-header {
    padding-left: 20px;
    padding-right: 20px;
    line-height: normal;
}

/******** END of Specific work page stuff ***********/

/*****************************************************************************************/

/******** Highlights Section Stuff *********/

/* Remove padding in between section in Highlights columns */
.remove-padding-in-highlights {
    padding-left: 0;
    padding-right: 0;
}

.remove-bottom-padding {
    padding-bottom: 0;
}

.added-height {
    height: 470px;
}

.blue-line-height {
    height: 16px;
}

/* All the images in column sets where it's two */

.column-col-6-img {
    margin-bottom: unset;
    height: 100%;
}

.subline-image {
    background: url(/uploads/e16f665e-4d95-4297-a8c6-ec22e067e7e3-Subline-2.0-resized-width-22.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.workflow-management-image {
    background: url(/uploads/74c4172e-e8a5-417b-aa21-d19bbbbd770b-workflow-management.svg);
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.catfish-image {
    background: url(/uploads/2bc25ea6-2bfa-445a-8d93-353214ced2a6-catfish.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.website-image {
    background: url(/uploads/564d86db-5fc2-495c-b7d2-088ab81f00a2-websitesv2.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.databases-repo-image {
    background: url(/uploads/f3122a4b-e34e-4b19-8ebf-af8f426dd1c8-databases.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.virtual-exhibit-image {
    background: url(/uploads/26a28d49-9601-4d4a-97e4-fb82b4072b69-virtual-exhibitions.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.data-collection-tools-image {
    background: url(/uploads/70137c62-2e8d-4dba-84a5-e078de299f88-data-collection-tools.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.research-network-image {
    background: url(/uploads/532481e4-31c2-4844-ae44-fea66a39f920-research-network.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-audio-production-image {
    background: url(/uploads/3b7b32c9-9641-4c42-9fa5-29f6376fcd41-video-audio-prod-01.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-streaming-image {
    background: url(/uploads/7803e44f-a512-4c84-a2e5-2a9985dc619b-streaming.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.digitization-image {
    background: url(/uploads/f469ce9c-1ad1-4e6a-93e6-4ea990994095-digitization-02.svg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.conference-reg-image {
    background: url(/uploads/6f311e89-77c4-477b-ac03-cb2c45092aa3-20150927_094937.jpg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.recurrent-programs-image {
    background: url(/uploads/6cb61fd6-b246-4604-b65d-55004164a220-lecture-3986809_1280.jpg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-config-image {
    background: url(/uploads/5c550563-be92-44a8-ba29-34f9af2eaade-business-2.jpg);
    background-position: center 39%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Triangle in Highlights section*/
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #9DEBF4;
    margin-left: 35px;
}

.section-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 10px 10px 22px;
}

    .section-contents li {
        padding-bottom: 15px;
    }

.section-contents-work {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    align-items: center;
}

.work-text-width {
    max-width: 80%;
}

.section-header-style {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: solid var(--yellow-color) 6px;
}

fieldset.checkboxgroup {
    margin-top: 1.25em;
}

#controlledVocabularySearchForm {
    min-height: 500px;
}

.category-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.pattern1BG + .columnBlock {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--lightBlue-color);
}

p.image-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

    p.image-container img {
        height: auto;
        max-width: 70%;
    }

/******** END of Highlights Section Stuff *********/

/*****************************************************************************************/

.space-above {
    margin-top: 15px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.text-indent {
    text-indent: 30px;
}

.contact-us-column, .white-background {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    background-color: white;
}

.white-background-only {
    background-color: white;
}

/* Contact Us Page */

.contactForm tr {
    display: flex;
    flex-direction: column;
}

.mandatory {
    visibility: hidden;
}

/** End of Contact Us Page */


/* Centering the modals and etc stuff (found in Our Team page) */

.modal {
    text-align: center;
}

.modal-header{
    border-bottom: none;
}

.modal-design-flexbox{
    display:flex;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index:2;
}

.modal-team-contents{
    display:flex;
    flex-direction: column;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 80%;
}

.modal-content{
    flex-direction: row;
}

.name-container {
    padding: 1rem 1rem 0rem 1rem;
}

.modal-title {
    position: relative;
    z-index: 1;
    font-weight: 700;
}

.floating-underline {
    border-top: solid 4px var(--yellow-color);
    position: relative;
    z-index: 0;
    margin-top: -6px;
}

    .floating-underline#isuru {
        width: 320px;
        margin-left: 10px;
    }

    .floating-underline#kamal {
        width: 247px;
        margin-left: 21px;
    }

    .floating-underline#michael {
        width: 190px;
        margin-left: 21px;
    }

    .floating-underline#melania {
        width: 215px;
        margin-left: 21px;
    }

    .floating-underline#tom {
        width: 145px;
        margin-left: 19px;
    }

    .floating-underline#grant {
        width: 160px;
        margin-left: 23px;
    }

    .floating-underline#clare {
        width: 162px;
        margin-left: 20px;
    }

    .floating-underline#jillian {
        width: 169px;
        margin-left: 11px;
    }

.job-title {
    margin-top: -18px;
    font-style: italic;
    font-weight: 600;
}

.bio-button {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}




@media screen and (max-width: 1200px) {
    h1.title-text.EGTitle {
        /*font-size: 2rem;*/
    }

    h4 {
        font-size: 1.25rem;
    }

    .image-circle-container {
        height: 275px;
        width: 275px;
    }

    .image-circle{
        width: 275px;
    }

    .small-item-block-container {
        height: 200px;
    }
}

@media screen and (max-width: 991px) {
    .img-text-container > h1 {
        font-size: 3em;
    }

    .img-text-container > h2 {
        font-size: 2em;
    }

    .image-circle-container {
        height: 205px;
        width: 205px;
    }

    .image-circle {
        width: 205px;
    }

    .small-item-block-container {
        height: 270px;
    }

    .arrow-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #9DEBF4;
        margin-left: 25px;
    }

    .section-contents {
        padding: 10px 10px 10px 7px;
        font-size: 1.05rem;
    }

        .section-contents li {
            padding-bottom: 5px;
        }

}

@media screen and (max-width: 767px) {
    .small-item-block-container {
        height: 150px;
        font-size: 1rem;
    }

    .reverse-columns-mobile {
        flex-direction: column-reverse;
    }

    .no-bottom-padding {
        padding-bottom: 0px;
    }

    .map-container {
        width: inherit;
        overflow: hidden;
    }

    .map-image {
        max-width: 1000px !important;
    }
}
